*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header .nav-bar{
    width: 1600px;
    height: 92px;
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
}

header .nav-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 32px;
    
}

header .nav-list a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    line-height: 152%;
    color: #000000;
}

header .btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}

.btn:hover{
    background-color: limegreen;
}

.btn-green{
    text-align: center;
    max-width: 251px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 16.5px 16px 16.5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;    
}

.btn-green:hover{
    background-color: limegreen;
}

.btn-white{
    text-align: center;
    max-width: 198px;
    border: 1px solid;
    border-color: #FFFFFF;
    background: none;
    border-radius: 4px;
    padding: 16.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;    
}

.btn-white:hover{
    background-color: lightblue;
}

header #banner .back-image{
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    width: 1600px;
    background-repeat: no-repeat;
}

#banner .banner-info{
    padding-top: 115px;
}

#banner .banner-info .info-container{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 295px;
}

.lil-header{
    max-width: 229px;
    height: 36px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
    padding: 8px 12px 8px 6px;
    margin: 0 auto;
}

.nav-circle{
    width: 16px;
    height: 16px;
}
.big-header{
    max-width: 770px;
    font-size: 72px;
    line-height: 84px;
    font-weight: 600px;
    padding-top: 16px;
    opacity: 90%;
}

.color-white{
    color: #FFFFFF;
}

.color-green{
    color: #30B868;
}

.info-para{
    padding-top: 16px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
}

.inline-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-top: 32px;
}

#notes{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    background-color: #f9555510;
}

#notes .notes-container .notes-heading h2{
    width: 1360px;
    height: 117px;
    color: #001931;
    font-size: 48px;
    font-weight: 700px;
    text-transform: capitalize;
}

#notes .notes-container .notes-heading p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400px;
    padding-top: 16px;
}

#notes .notes-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 44px;
}

#notes .notes-box .note-card{
    width: 322px;
    height: 300px;
    padding-top: 44px;
    background-color: #FFFFFF;
}

.bg-orange{
    margin: 0 auto;
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border: none;
    border-radius: 100%;  
}

#notes .notes-box .note-card .bg-orange img{
    margin-top: 13.61px;
    height: 32px;
    width: 32px;
}   



#notes .notes-box .note-card .note-heading{
    margin: 0 auto;
    padding-top: 16px;
    color: #001931;
    width: 274px;
    font-size: 24px;
    font-weight: 600px;
}

#notes .notes-box .note-card p{
    margin: 0 auto;
    padding-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    width: 274px;
}

#solution{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    gap: 60px;
}

#solution .solution-image img{
    height: 600px;
    width: 600px;
}

#solution .solution-info{
    /* padding-top: 101.5px; */
    margin: auto 0px;
    width: 700px;
}

#solution .solution-info .solution-header{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #30B868;
}

#solution .solution-info .solution-header-big{
    padding-top: 16px;
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}

#solution .solution-info .solution-para{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    line-height: 20px;
}

#solution .solution-info .solution-list{
    padding-top: 40px;
}

#solution .solution-info .solution-list .flex-list{
    display: flex;
    gap: 6px;
    align-items: center;
    padding-top: 16px;
}

#solution .solution-info .solution-list .flex-para-padding{
    color: #001931;
}

#ready{
    width: 85%;
    max-width: 1360px;
    padding-top: 120px;
    background-color: #F7F6F2;
    margin: 0px auto;
    align-items: center;
    text-align: center;
}

#ready .ready-heading{
    color: 001931;
    font-size: 40px;
    font-weight: 700px;
}

#ready .ready-para{
    padding-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
}

#ready .btn-small{
    margin-top: 24px;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    padding: 16.5px 16px;
    width: 194px;
    height: 52px;
    background-color: #30B868;
    color: #FFFFFF;
}

#ready .btn-small:hover{
    background-color: limegreen;
}

#ready .ready-end{
    padding-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    padding-bottom: 80px;
}

#footer{
    background-color: #001931;
}

#footer .footer-flex{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 790px;
    padding-top: 120px;
}

#footer .footer-flex .footer-logo{
    width: 350px;
    height: 60px;
}

#footer .footer-flex .footer-logo img{
    width: 139px;
    height: 60px;
    color: #FFFFFF;
}

#footer .footer-flex .footer-icons{
    width: 220px;
    height: 64px;
}

#footer .footer-flex .footer-heading{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
}

#footer .footer-flex .footer-icons .icon-lists{
    display: flex;
    gap: 16px;
    padding-top: 16px;
}

#footer .footer-flex .footer-icons .icon-lists li{
    list-style: none;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;

}
#footer .footer-flex .footer-icons .icon-lists li a{
    align-items: center;
    text-align: center;
    height: 20px;
    width: 20px;
    color: #000000;

}

#footer .footer-line{
    width: 85%;
    max-width: 1360px;
    margin: 80px auto 0;
}
  
#footer .footer-copyright{
    width: 85%;
    max-width: 1360px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #FAFAFA;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

