*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .nav-bar{
    width: 1600px;
    height: 92px;
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
}

header .nav-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 32px;
    
}

header .nav-list a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    line-height: 152%;
    color: #000000;
}

header .btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}

.btn:hover{
    background-color: limegreen;
}